.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.popup_add .popup__dates {
  border-bottom: 1px rgba(0, 0, 0, .2) solid;
  background: rgba(0, 0, 0, 0);
  color: rgba(196, 196, 196, 1);
}

.popup_add .popup__dates:focus {
  background: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 1);
}
