.popup__container {
    width: 430px;
    border-radius: 15px;
    padding: 35px 35px 37px;
    background-color: #fff;
    z-index: 1;
    opacity: 1;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 615px) {
    .popup__container {
        width: 282px;
        padding: 25px 22px;
    }
}



/*контейнер для картинки*/
.popup__image-container {
  z-index: 1;
  opacity: 1;
  position: relative;


}

@media screen and (max-width: 615px) {
    .popup__image-container {

    }
}





/*картинка*/
.popup__image {
  max-height: 540px;
  width: 75%;

}
@media screen and (max-width: 615px) {
    .popup__image {

    }
}

/*второй класс черного фона*/
.popup_image {
  background: rgba(0, 0, 0, .9);

}


.popup__signature {
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #FFF;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
}
