.profile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
}

@media screen and (max-width: 917px) {
    .profile {
        width: 581px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 615px) {
    .profile {
        width: 282px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 410px) {
    .profile {
        gap: 30px;
    }
}
