.profile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
    
}

@media screen and (max-width: 920px) {
    .profile {
        max-width: 581px;
        margin: 0 auto;
        padding: 0 19px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 650px) {
    .profile {
        width: 282px;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 410px) {
    .profile {
        gap: 30px;
    }
}
