.elements__die {
    height: 80px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 30px;
    box-sizing: border-box;
}
