.popup__input-error {/*текст ошибки*/
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  min-height: 30px;
  color: #FF0000;
  /* opacity: 0; */
  padding: 0;
  margin: 5px 0 0;
}
