.popup__button {
    grid-area: popup__button;
    height: 50px;
    width: 100%;
    background-color: #000;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-family: "Inter", "Arial", "sans-serif";
    cursor: pointer;
    color: #fff;
    transition: opacity 0.5s ease-in;
}

.popup__button:hover {
    opacity: 0.8;
}
