.elements__signature {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 190px;
}
