.footer {
    grid-area: footer;
}

@media screen and (max-width: 917px) {
    .footer {
        max-width: 581px;
        margin-left: 19px;
    }
}

@media screen and (max-width: 615px) {
    .footer {
        min-width: 282px;
        margin-left: 19px;
    }
}
