@import url(../vendor/normalize.css);
/*fonts*/
@import url(../fonts/fonts.css);
/*blocks*/
/*@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);

@import url(../blocks/footer/footer.css);

  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;*/


.root {
  background-color: #000;

}
/** {
  border: red solid 1px;
  box-sizing: border-box;
}*/
.page {

  max-width: 880px;

  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 45px 74px 40px /*914px*/auto 66px 18px 60px;
  grid-template-areas:
  "."
  "header"
  "."
  "content"
  "."
  "footer"
  ".";
  box-sizing: border-box;
  /*;
  auto-fit*/

}

@media screen and (max-width: 920px) {
  .page {
   min-width: 282px;
   padding: 0 19px;
   grid-template-rows: 28px 74px 28px /*914px*/auto 66px 18px 60px;
   margin: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: header;

}

@media screen and (max-width: 917px) {
  .header {
    width: 581px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 615px) {
  .header {
    width: 282px;
    margin: 0 auto;
  }
}

.header__logo {
  width: 142px;

}

@media screen and (max-width: 410px) {
  .header__logo {
   width: calc(0.39*100%);

  }
}

header::after {
  content: "";
  max-width: 100vw;
  height: 1px;
  opacity: 0.7;
  background-color: #545454;
}



.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  position: relative;
}

@media screen and (max-width: 410px) {
  .content {
    gap: 40px;
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
}

@media screen and (max-width: 917px) {
  .profile {
    width: 581px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 615px) {
  .profile {
    width: 282px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 410px) {
  .profile {
    gap: 36px;
  }
}

.add-button {
  width: 150px;
  height: 50px;
  border: 1px solid #FFF;
  background-color: black;
  align-self: center;
  background-image: url(../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  transition: opacity 0.5s ease-in;
  box-sizing: border-box;
  cursor: pointer;
}

.add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 917px) {
  .add-button {
    width: 282px;
    margin: 0 auto;
  }
}

.profile__person {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

@media screen and (max-width: 715px) {
  .profile__person {
   margin: 0 auto;

  }
}

.profile__edit-button {/*вызывыает полосу прокрутки*/
  width: 24px;
  height: 24px;
  border: 1px solid #FFF;
  padding:0;
  background-color: black;
  align-self: flex-start;
  background-image: url(../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  right: -45px;
  transition: opacity 0.5s ease-in;
  box-sizing: border-box;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 700px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    top: 5px;
    right: -30px;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;

}

@media screen and (max-width: 615px) {
  .profile__avatar {
    margin: 0 auto;

  }
}

.profile__info {
  max-height: 73px;
  position: relative;
}

@media screen and (max-width: 615px) {
  .profile__info {
    margin: 0 auto;

  }
}

.profile__name {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  color: white;

}

@media screen and (max-width: 700px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;

  }
}

.profile__about {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: white;
}

@media screen and (max-width: 700px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;

  }
}

.elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 20px;
  column-gap: 17px;
  position: relative;
  flex-direction: row-reverse;

}

.element {
  border-radius: 15px;
  width: 282px;
  height: 362px;
  overflow: hidden;
  position: relative;


}

.element__image {
  height: 78%;
  width: 100%;
  object-fit: cover;

}

.element__signature-die {
  height: 80px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  padding: 25px 20px 30px;
  box-sizing: border-box;

}

.button-like {
  width: 22px;
  height: 19px;
  background-image: url(../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #FFF;
  transition: opacity 0.5s ease-in; /*и тут */
  padding:0;
  cursor: pointer;
}

.button-like:hover {
  opacity: .5;
}

.element__signature-die__box {
  width: 190px;

}

.element__signature-die_signature {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  grid-area: footer;


}

@media screen and (max-width: 917px) {
  .footer {
    width: 581px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 615px) {
  .footer {
    width: 282px;
    margin: 0 auto;
  }
}

.footer__text {
  color: #545454;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;/*выяснить почему вышло за границы блока*/
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;

  justify-content: center;
  align-items: center;
}

.popup_opened {
  display: flex;
}

.popup__container {
  width: 430px;
  height: 330px;
  border-radius: 15px;
  padding: 35px;
  background-color: #FFF;
  z-index: 1;
  opacity: 1;
  position: fixed;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 23px 54px 27px 30px 27px 48px 50px;
  grid-template-areas:
  "popup__heading"
  "."
  "popup__dates_name"
  "."
  "popup__dates_about"
  "."
  "popup__button";

}

@media screen and (max-width: 615px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
     grid-template-rows: 23px 75px 27px 30px 27px 45px 50px;
  }
}

.popup__close-icon {
  border: none;
  width: 32px;
  height: 32px;
  padding:0;
  background-image: url(../images/Close_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity 0.5s ease-in;
  background-color: rgba(0, 0, 0, 0.0);
  cursor: pointer;
}

@media screen and (max-width: 615px) {
  .popup__close-icon {
    top: -30px;
    right: 0px;
    width: 20px;
    height: 20px;
  }
}

.profile__edit-button:hover {
  opacity: .6;
}

.popup__heading {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  grid-area: popup__heading;
}

@media screen and (max-width: 615px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px;

  }
}

.popup__button {
  grid-area: popup__button;
  height: 50px;
  width: 100%;
  background-color: #000;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: "Inter", "Arial", "sans-serif";
  cursor: pointer;
  color: #FFF;
  transition: opacity 0.5s ease-in;

}



.popup__button:hover {
  opacity: .8;
}

.popup__form {
  border: none;
}


.popup__dates {

  border: none;
  border-bottom: 1px black solid;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", "Arial", "sans-serif";
  margin: 0;
  padding: 0 0 7px;
/*возможно обойдемся одним классом*/
}


.popup__dates:focus {
  outline: none;
  border: 1px solid black;
}

.popup__dates_name {
  grid-area: popup__dates_name;
}

.popup__dates_about {
  grid-area: popup__dates_about;
}

