@import url(../vendor/normalize.css);
/*fonts*/
@import url(../fonts/fonts.css);
/*blocks*/
/*@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);

@import url(../blocks/footer/footer.css);

  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;*/


.root {
  background-color: #000;

}
/** {
  border: red solid 1px;
  box-sizing: border-box;
}*/
.page {

  max-width: 880px;

  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 45px 74px 40px /*914px*/auto 66px 18px 60px;
  grid-template-areas:
  "."
  "header"
  "."
  "content"
  "."
  "footer"
  ".";
  /*;
  auto-fit*/

}

@media screen and (max-width: 920px) {
  .page {
   min-width: 282px;
   padding: 0 19px;
   grid-template-rows: 28px 74px 28px /*914px*/auto 66px 18px 60px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: header;

}


.header__logo {
  width: 142px;

}

@media screen and (max-width: 410px) {
  .header__logo {
   width: calc(0.39*100%);

  }
}

.header__line {
  max-width: 1280px;
  height: 1px;
  opacity: 0.7;
  background-color: #545454;/*реализовать через after*/
}


.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

@media screen and (max-width: 410px) {
  .content {
    gap: 40px;
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
}

@media screen and (max-width: 410px) {
  .profile {
    gap: 36px;
  }
}

.add-button {
  width: 150px;
  height: 50px;
  border: 1px solid #FFF;
  background-color: black;
  align-self: center;
  background-image: url(/images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  transition: opacity 0.5s ease-in;
}

.add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 620px) {
  .add-button {
    width: 282px;
    margin: 0 auto;
  }
}

.profile__person {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

@media screen and (max-width: 618px) {
  .profile__person {
   margin: 0 auto;

  }
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #FFF;
  padding:0;
  background-color: black;
  align-self: flex-start;
  background-image: url(/images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  right: -45px;
  transition: opacity 0.5s ease-in;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 700px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    top: 5px;
    right: -30px;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;

}

@media screen and (max-width: 410px) {
  .profile__avatar {
    margin: 0 auto;

  }
}

.profile__info {
  max-height: 73px;
  position: relative;
}

@media screen and (max-width: 410px) {
  .profile__info {
    margin: 0 auto;

  }
}

.profile__name {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  color: white;

}

@media screen and (max-width: 700px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;

  }
}

.profile__about {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: white;
}

@media screen and (max-width: 700px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;

  }
}

.elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 20px;
  column-gap: 17px;
  position: relative;
  flex-direction: row-reverse;

}

.element {
  border-radius: 15px;
  width: 282px;
  height: 362px;
  overflow: hidden;
  position: relative;


}

.element__image {
  height: 78%;
  width: 100%;
  object-fit: cover;

}

.element__signature-die {
  height: 80px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 30px;
  box-sizing: border-box;

}

.button-like {
  width: 22px;
  height: 19px;
  background-image: url(/images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #FFF;
  transition: opacity 0.5s ease-in; /*и тут */
  padding:0;
}

.button-like:hover {
  opacity: .5;
}

.element__signature-die__box {
  width: 190px;

}

.element__signature-die_signature {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  grid-area: footer;


}

.footer__text {
  color: #545454;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;/*выяснить почему вышло за границы блока*/
}



