.profile__info {
    max-height: 73px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

@media screen and (max-width: 450px) {
    .profile__info {
        margin: 0;
        row-gap: 9px;
    }
}
